.fieldForm {padding:10px;}
.fieldForm div .fieldItemValue {}
.fieldForm .fieldItemLabel {}
.fieldForm .fieldItemLabel label {font-weight:bolder;}
.fieldForm .field100Pct, .fieldForm .field50Pct {}
.fieldForm .field100Pct {}
.fieldForm .fieldCheckbox {}

.fieldForm .field100Pct .fieldItemValue,
.fieldForm .fieldCheckbox .fieldCheckboxItem, 
.fieldForm .field50Pct .fieldItemValue {}

.fieldForm .field100Pct .fieldItemValue input,
.fieldForm .field100Pct .fieldItemValue textarea,
.fieldForm .field100Pct .fieldItemValue select {}

.fieldForm .field50Pct .fieldItemValue input,
.fieldForm .field50Pct .fieldItemValue textarea,
.fieldForm .field50Pct .fieldItemValue select {}

.fieldForm .field50Pct {}
.fieldForm div div input, .fieldForm div div textarea,
.fieldForm div div select {}
.fieldForm .fieldCheckbox input {}
.fieldForm .fieldCheckbox .fieldItemLabel {}

.fieldForm div .fieldItemValue {padding-left:10px;}
.fieldForm .fieldItemLabel {width:70px;float:left;padding-top:5px;}
.fieldForm .fieldItemLabel label {text-align:right;white-space:nowrap;}

.fieldForm .field100Pct, 
.fieldForm .field50Pct {min-width: 200px;}

.fieldForm .field100Pct {clear:both;}

.fieldForm .fieldCheckbox {
	float:left;width:auto;margin-left:2px;
}

.fieldForm .field100Pct .fieldItemValue,
.fieldForm .field50Pct .fieldItemValue {display:inline;}

.fieldForm .fieldCheckbox .fieldCheckboxItem{display:inline;margin-top:3px;line-height:24px;}

.fieldForm .field100Pct .fieldItemValue input,
.fieldForm .field100Pct .fieldItemValue textarea,
.fieldForm .field100Pct .fieldItemValue select {width:80%;min-width:100px;}

.fieldForm .field50Pct .fieldItemValue input,
.fieldForm .field50Pct .fieldItemValue textarea,
.fieldForm .field50Pct .fieldItemValue select {width:60%;min-width:100px;}

.fieldForm .field50Pct {float:left;width:49.9%;}

.fieldForm div div input,
.fieldForm div div textarea,
.fieldForm div div select {margin-bottom:10px;margin-right:15px;}

.fieldForm .fieldCheckbox input {float:left;margin-right:5px;}
.fieldForm .fieldCheckbox .fieldItemLabel {padding-top:.5em;}

.clear {clear:both;}		
.fieldForm br {display:none;}
