body,ul,li {
    padding:0;
    margin:0;
    border:0;
    font-family:'ו';
}

body {
    font-size:12px;
    /*chrome*/
    -webkit-user-select:none;
    -webkit-text-size-adjust:none;
    /*firefox*/
    -moz-user-select:none;
    -moz-text-size-adjust:none;
    /*opera*/
    -o-user-select:none;
    -o-text-size-adjust:none;
    font-family:helvetica;
}

#header a {
    text-decoration:none;
    font-weight:bold;
    text-shadow:0 -1px 0 rgba(0,0,0,0.5);
}

#footer {
    position:absolute; z-index:2;
    bottom:0; left:0;
    width:100%;
    height:0px;
    padding:0;
    border-top:0px solid #444;
}

#wrapper {
    position:absolute; z-index:1;
    top:45px; bottom:0px;
    width:100%;
    background:#EBEBEB;
    overflow-y:scroll;
    overflow-x:hidden;
}

#scroller {
    position:absolute; z-index:1;
/*  -webkit-touch-callout:none;*/
    /*chrome*/
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    /*ff*/
    -moz-tap-highlight-color:rgba(0,0,0,0);
    /*opera*/
    -o-tap-highlight-color:rgba(0,0,0,0);
    width:100%;
    padding:0;
}

#scroller ul {
    list-style:none;
    padding:0;
    margin:0;
    width:100%;
    text-align:left;
}


/**
 *
 * Pull down styles
 *
 */
#pullDown, #pullUp {
    background:#fff;
    height:40px;
    line-height:40px;
    padding:5px 10px;
    border-bottom:1px solid #ccc;
    font-weight:bold;
    font-size:14px;
    color:#888;
}
#pullDown .pullDownIcon, #pullUp .pullUpIcon  {
    display:block; float:left;
    width:40px; height:40px;
    background:url(../images/wxpublic/pull-icon@2x.png) 0 0 no-repeat;
    background-size:40px 80px;
    /*chrome*/
    -webkit-background-size:40px 80px;
    -webkit-transition-property:-webkit-transform;
    -webkit-transition-duration:250ms;
    /*ff*/
    -moz-background-size:40px 80px;
    -moz-transition-property:-moz-transform;
    -moz-transition-duration:250ms;
    /*opera*/
    -o-background-size:40px 80px;
    -o-transition-property:-o-transform;
    -o-transition-duration:250ms;
}
#pullDown.idle .pullDownIcon {
    background-position:0 0;
    /*chrome*/
    -webkit-transform:rotate(0deg) translateZ(0);
    -webkit-animation-name:idle;
    -webkit-animation-duration:0;
    /*ff*/
    -moz-transform:rotate(0deg) translateZ(0);
    -moz-animation-name:idle;
    -moz-animation-duration:0;
    /*opera*/
    -o-transform:rotate(0deg) translateZ(0);
    -o-animation-name:idle;
    -o-animation-duration:0;
}
#pullUp.idle .pullUpIcon  {
    background-position:0 0;
    /*chrome*/
    -webkit-transform:rotate(-180deg) translateZ(0);
    /*ff*/
    -moz-transform:rotate(-180deg) translateZ(0);
    /*opera*/
    -o-transform:rotate(-180deg) translateZ(0);
}

#pullDown.flip .pullDownIcon {
    background-position:0 0;
    /*chrome*/
    -webkit-transform:rotate(-180deg) translateZ(0);
    -webkit-animation-name:idle;
    -webkit-animation-duration:0;
    /*ff*/
    -moz-transform:rotate(-180deg) translateZ(0);
    -moz-animation-name:idle;
    -moz-animation-duration:0;
    /*opera*/
    -o-transform:rotate(-180deg) translateZ(0);
    -o-animation-name:idle;
    -o-animation-duration:0;
}

#pullUp.flip .pullUpIcon {
    background-position:0 0;
    /*chrome*/
    -webkit-transform:rotate(0deg) translateZ(0);
    /*ff*/
    -moz-transform:rotate(0deg) translateZ(0);
    /*opera*/
    -o-transform:rotate(0deg) translateZ(0);
}

#pullDown.loading .pullDownIcon, #pullUp.loading .pullUpIcon {
    background-position:0 100%;
    /*chrome*/
    -webkit-transform:rotate(0deg) translateZ(0);
    -webkit-transition-duration:0ms;
    -webkit-animation-name:loading;
    -webkit-animation-duration:2s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:linear;
    /*ff*/
    -moz-transform:rotate(0deg) translateZ(0);
    -moz-transition-duration:0ms;
    -moz-animation-name:loading;
    -moz-animation-duration:2s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-timing-function:linear;
    /*opera*/
    -o-transform:rotate(0deg) translateZ(0);
    -o-transition-duration:0ms;
    -o-animation-name:loading;
    -o-animation-duration:2s;
    -o-animation-iteration-count:infinite;
    -o-animation-timing-function:linear;
}

/*chrome*/
@-webkit-keyframes loading {
    from { -webkit-transform:rotate(0deg) translateZ(0); }
    to { -webkit-transform:rotate(360deg) translateZ(0); }
}
@-webkit-keyframes idle {
    from { -webkit-transform:rotate(0deg) translateZ(0); }
    to { -webkit-transform:rotate(0deg) translateZ(0); }
}
/*ff*/
@-moz-keyframes loading {
    from { -moz-transform:rotate(0deg) translateZ(0); }
    to { -moz-transform:rotate(360deg) translateZ(0); }
}
@-moz-keyframes idle {
    from { -moz-transform:rotate(0deg) translateZ(0); }
    to { -moz-transform:rotate(0deg) translateZ(0); }
}
/*opera*/
@-o-keyframes loading {
    from { -o-transform:rotate(0deg) translateZ(0); }
    to { -o-transform:rotate(360deg) translateZ(0); }
}
@-o-keyframes idle {
    from { -o-transform:rotate(0deg) translateZ(0); }
    to { -o-transform:rotate(0deg) translateZ(0); }
}

.company_name{
	font-weight:bold;
}
.right{
	float:right;
	margin-right:10px;
	
}

.right2{
	float:right;
	margin-right:20px;
	
}
.right1{
	float:right;
	margin-right:20px;
	color:#B3B3B3;
}
.money_out{
	color:red;
}
.money_in{
	color:green;
}
