<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name></display-name>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:/applicationContext.xml</param-value>
  </context-param>
  <filter>
    <filter-name>Set Character Encoding</filter-name>
    <filter-class>com.zld.SetCharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>GBK</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>Set Character Encoding</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>Set Character Encoding</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
		<listener-class>com.zld.listener.RequestListener</listener-class>
	</listener>
  <servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
    <init-param>
      <param-name>config</param-name>
      <param-value>/WEB-INF/struts-config.xml</param-value>
    </init-param>
    <init-param>
      <param-name>debug</param-name>
      <param-value>3</param-value>
    </init-param>
    <init-param>
      <param-name>detail</param-name>
      <param-value>3</param-value>
    </init-param>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>proxoolServletConfigurator</servlet-name>
    <servlet-class>org.logicalcobwebs.proxool.configuration.ServletConfigurator</servlet-class>
    <init-param>
      <param-name>xmlFile</param-name>
      <param-value>WEB-INF/classes/proxool.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>Admin</servlet-name>
    <servlet-class>org.logicalcobwebs.proxool.admin.servlet.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>payhandle</servlet-name>
    <servlet-class>com.zld.struts.request.ZhifubaoHandle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>payhandle</servlet-name>
    <url-pattern>/rechage</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>payhandle</servlet-name>
    <url-pattern>/payhandle</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>weixinhandle</servlet-name>
    <servlet-class>com.zld.struts.request.WeixinHandle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>weixinhandle</servlet-name>
    <url-pattern>/weixihandle</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>JerseyServlet</servlet-name>
    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>lala</servlet-name>
    <servlet-class>com.zld.struts.request.LalaRuleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>lala</servlet-name>
    <url-pattern>/lalarule</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>callmessage</servlet-name>
    <servlet-class>com.zld.struts.request.ShortMessageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PurlAction</servlet-name>
    <servlet-class>com.zld.struts.request.TranferUrlAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>wxpublic</servlet-name>
    <servlet-class>com.zld.struts.request.WeixinPublicServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>wxphandle</servlet-name>
    <servlet-class>com.zld.struts.request.WeixinPublicHandle</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TcpTaskServlet</servlet-name>
    <servlet-class>com.zld.schedule.TcpTaskServlet</servlet-class>
    <load-on-startup>10</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>callmessage</servlet-name>
    <url-pattern>/callmessage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JerseyServlet</servlet-name>
    <url-pattern>/qr/*</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
  <servlet-name>JerseyServlet</servlet-name>
    <url-pattern>/api/*</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>JerseyServlet</servlet-name>
    <url-pattern>/parkpics/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PurlAction</servlet-name>
    <url-pattern>/turl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>wxpublic</servlet-name>
    <url-pattern>/wxpublic</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>wxphandle</servlet-name>
    <url-pattern>/wxphandle</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>/WEB-INF/pages/zld/login.jsp</welcome-file>
  </welcome-file-list>
</web-app>
