div.smMap {
    z-index: 0;
    padding: 0px!important;
    margin: 0px!important;
//  cursor: default;
    cursor: url("../images/cursors/Pan.cur"),default;
    border:1px solid #3473b7;
}

div.smMapViewport {
    text-align: left;
}

div.smLayerDiv {
    -moz-user-select: none;
}

.smLayerGoogleCopyright {
    left: 2px;
    bottom: 2px;
}
.smLayerGooglePoweredBy {
    left: 2px;
    bottom: 15px;
}
.smControlAttribution {
    font-size: smaller;
    right: 3px;
    bottom: 0.5em;
    position: absolute;
    display: block;
}
.smControlScale {
    right: 3px;
    bottom: 3em;
    display: block;
    position: absolute;
    font-size: smaller;
}
.smControlScaleLine {
    display: block;
    position: absolute;
    left: 10px;
    bottom: 15px;
    font-size: xx-small;
}
.smControlScaleLineBottom {
    border: solid 2px black;
    border-bottom: none;
    margin-top:-2px;
    text-align: center;
}
.smControlScaleLineTop {
    border: solid 2px black;
    border-top: none;
    text-align: center;
}

.smControlPermalink {
    right: 3px;
    bottom: 1.5em;
    display: block;
    position: absolute;
    font-size: smaller;
}

div.smControlMousePosition {
    bottom: 0em;
    right: 3px;
    display: block;
    position: absolute;
    font-family: Arial;
    font-size: smaller;
}

.smControlOverviewMapContainer {
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-color: #e5f3ff;
}


.smControlOverviewMapElement {
    border-left:1px solid #3473b7;
    border-top:1px solid #3473b7;
    padding-top: 4px;
    padding-left: 4px;
}

.smControlOverviewMapMinimizeButton {
    right: 0px;
    bottom: 1px;
    cursor: pointer;
}

.smControlOverviewMapMaximizeButton {
    right: 0px;
    bottom: 1px;
    cursor: pointer;
}

.smControlOverviewMapExtentRectangle {
    overflow: hidden;
    /*background-image:url(../../image/blank.gif);*/
    border: 1px solid red;
    background:#69F;
    filter:alpha(opacity=50);/* IE */
    -moz-opacity:0.5;/* Moz + FF */
    opacity: 0.5; /* 支持CSS3的浏览器（FF 1.5也支持）*/
}
.smControlOverviewMapRectReplacement {
    overflow: hidden;
    cursor: url("../images/cursors/PanDown.cur"),move;
    background-image: url(../images/overview_replacement.gif);
    background-repeat: no-repeat;
    background-position: center;
}

.smLayerGeoRSSDescription {
    float:left;
    width:100%;
    overflow:auto;
    font-size:1.0em;
}
.smLayerGeoRSSClose {
    float:right;
    color:gray;
    font-size:1.2em;
    margin-right:6px;
    font-family:sans-serif;
}
.smLayerGeoRSSTitle {
    float:left;font-size:1.2em;
}

.smPopupContent {
    padding:5px;
    overflow: auto;
}

.smHandlerBoxZoomBox {
    border: 2px solid red;
    position: absolute;
    background-color: white;
    opacity: 0.50;
    font-size: 1px;
    filter: alpha(opacity=50);
}
.smHandlerBoxSelectFeature {
    border: 2px solid blue;
    position: absolute;
    background-color: white;
    opacity: 0.50;
    font-size: 1px;
    filter: alpha(opacity=50);
}

.smPopupCloseBox {
    background: url("../images/close.gif") no-repeat;
    cursor: pointer;
}

.smFramedCloudPopupContent {
    padding: 5px;
    overflow: auto;
}

.smImageLoadError {
    background-color: pink;
    opacity: 0.5;
    filter: alpha(opacity=50); /* IE */
    display: none;
}

/**
 * Cursor styles
 */
.smDefault {
    cursor: default;
}
.smCursorWait {
    cursor: wait;
}
.smDragDown {
    cursor: url("../images/cursors/PanDown.cur"),move;
}
.smDragDownCanvas {
    cursor: move;
}
.smDragUp {
    cursor: url("../images/cursors/Pan.cur"),auto;
}

.smCursorPointer {
    cursor: pointer;
}

.smDrawBox {
    cursor: crosshair;
}
.smControlDragFeatureOver {
    /*cursor: move;*/
}
.smControlDragFeatureActive.smControlDragFeatureOver.smDragDown {
    /* cursor: -moz-grabbing;*/
}

/**
 * Layer switcher
 */
.smControlLayerSwitcher {
    position: absolute;
    top: 25px;
    right: 0px;
    width: 20em;
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 3px;
    margin-left: 3px;
    margin-bottom: 3px;
    font-size: smaller;
    color: white;
    background-color: transparent;
    cursor: default;
}

.smControlLayerSwitcher .layersDiv {
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
    background-color: darkblue;
    width: 100%;
    height: 100%;
}
/*白色样式下*/
.smControlLayerSwitcher .layersDivWhite {
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
    background-color: darkblue;
    width: 100%;
    height: 100%;
}

.smControlLayerSwitcher .layersDiv .baseLbl,
.smControlLayerSwitcher .layersDiv .dataLbl {
    margin-top: 3px;
    margin-left: 3px;
    margin-bottom: 3px;
}

.smControlLayerSwitcher .layersDiv .baseLayersDiv,
.smControlLayerSwitcher .layersDiv .dataLayersDiv {
    padding-left: 3px;
}

.smControlLayerSwitcher .maximizeDiv,
.smControlLayerSwitcher .minimizeDiv {
    top: 0px;
    right: 0px;
    text-align: left;
    cursor: pointer;
}
.smControlLayerSwitcher .maximizeDiv{
    border: 3px solid #a5c8ec;
}

.smControlLayerSwitcher .maximizeDivWhite{
    top: 0px;
    right: 0px;
    cursor: pointer;
}

div.smControlLayerSwitcher {
    position: absolute;
    top: 50px;
    right: 0px;
    width: 171px;
    font-family: sans-serif;
    font-weight: bold;
    margin: 0px 3px 3px;
    font-size: smaller;
    font-size: 13px;
    color: #4083c2;
    background-color: transparent;
    border: 3px solid #a5c8ec;
}
div.smControlLayerSwitcher div.layersDiv {
    padding-top: 25px;
    padding-left: 5px;
    padding-bottom: 5px;
    background-color: #FFFFFF;
    width: 166px;
    height: 100%;
}
div.smControlLayerSwitcher div.layersDivWhite {
    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 10px;
    background-color: #FFFFFF;
    width: 166px;
    height: 100%;
    color: #565656;
    box-shadow:0px 0px 3px #ababab;
    border:1px solid #d7d7d7;
    border-radius:4px;
}

.layerSwitcherHR{
    width: 95%;
    margin: 7px auto 7px auto;
}

input.inputElem {
    width: 14px;
    height:14px;
    margin-left: 3px;
    margin-right:4px;
    margin-bottom: 4px;
    margin-top: 4px;
    vertical-align: middle;
    border: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0%,0%;
    cursor: pointer;
}
span.labelSpan {
    margin-left: 5px;
    padding-bottom: 3px;
    padding-top: 3px;
    height:20px;
    vertical-align: middle;
}
div.minimizeDiv .layerSwitcherContent{
    position: absolute;
    padding: 2px 40px;
}


/**
 * Animations
 */

.smLayerDiv .smTileImage {
    -webkit-transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
}

#popwin img{
    max-width: none;
}
/**
*绘制矩形框
*/
.qByBoundsBoxDiv {
    background-color: #304DBE;
    border: 2px solid #060abe;
    opacity: 0.3;
}
/**
* TiledVectorLayerEditor
*/
.smControlTiledVectorLayerEditor{
    width: 850px;
    height: 0px;
    cursor: default;
    color: #34495e;
}
.smControlTiledVectorLayerEditor form{
    width: 92%;
    margin: auto;
}
.smControlTiledVectorLayerEditor li{
    margin: 3px 0 3px;
    padding: 2px;
    text-indent: 4px;
}
.smControlTiledVectorLayerEditor li[data-layertype="point"]{
    list-style-image: url("../images/point.png");
}
.smControlTiledVectorLayerEditor li[data-layertype="line"]{
    list-style-image: url("../images/line.png");
}
.smControlTiledVectorLayerEditor li[data-layertype="region"]{
    list-style-image: url("../images/region.png");
}
.smControlTiledVectorLayerEditor li[data-layertype="text"]{
    list-style-image: url("../images/text.png");
}
.smSubPanel-body>ul>li{
    margin-bottom: 7px;
}
.smSubPanel-body ul>li li{
    list-style: circle;
}
.smShowHideBtn-container{
    content: "";
    height: 32px;
    width: 32px;
    background-image: url("../images/radial.png");
    border-radius: 5px;
}
.smShowHideBtn-container.move{
    cursor: move;
    opacity: 0.8;
}
.smShowHideBtn-container.move:hover{
    opacity: 1;
}
.smShowHideBtn-container.hidebtn{
    content: "";
    height: 16px;
    width: 16px;
    background-image: url("../images/hide.png");
    border-radius: 0px;
    top: 10px;
    right: 28px;
    opacity: 0.8;
    z-index: 999;

}
.smShowHideBtn-container.hidebtn:hover{
    background-image: url("../images/hide_hover.png");
    opacity: 0.9;
}
.smShowHideBtn-container .smShowHideBtn{
    content: "";
    width: 16px;
    height: 16px;
    cursor: pointer;
    float: left;
}
.smCloseBtn-container{
    content: "";
    height: 16px;
    width: 16px;
    background-image: url("../images/close.png");
    top: 10px;
    right: 7px;
    opacity: 0.8;
    z-index: 999;
}
.smCloseBtn-container:hover{
    background-image: url("../images/close_hover.png");
    opacity: 0.9;
}
.smMainPanel{
    width: 100%;
    height: 0px;
}
.smMainPanel.hide{
    display: none;
}
.smPanel-header{
    background-color: #34495e;
    border: 1px solid #34495e;
    color: #ddd;
    width: 100%;
    padding: 8px 0 4px;
    cursor: move;
}
.smMainPanel-title{
    margin: 0;
    padding-left: 10px;
    padding-bottom: 6px;
}
.smMainPanel-body{
    background-color: #fff;
    width: 100%;
    font-size: 1.0em;
    border: 1px solid #ddd;
}
.smPanelPointer{
    border: 2px solid rgba(0,0,0,0);
}
.smPanelPointer:hover{
    background-color: #ebeff2;
}
.smPanelPointer.select{
    cursor: pointer;
    border: 2px solid #54cbd2;
}
.smLayerInfoPanel{
    width: 40%;
    display: inline-block;
}
.smSubPanel{
    border: 2px solid #ddd;
    margin: 3px 5px 5px 5px;
    overflow-y: auto;
}
.smSubPanel ul{
    margin: 0px 3px 0 0;
    overflow: hidden;
}
.smPanel-title{
    padding-left: 14px;
    padding-top: 14px;
}
.smSubPanel-header {
    background-color: #fff;
    z-index: 99;
    padding-bottom: 8px;
}
.smSubPanel-body{
    height: 270px;
    margin-top: 11px;
}
.smLayerInfoLI{
    height: inherit;
}
.smLayerInfoLI ul{
    height: 0px;
    transition: 300ms height;
}
.smEditPanel{
    display: none;
    width: 56.6%;
    float: right;
    right: 0px
}
.smEditPanel table{
    color: #34495e;
}
.smEditPanel.show{
    display: block;
}
.smEditPanelControl{
    display: block;
}
.smPanelCheckbox{
    float:left;
    margin-right: 10px;
    width: 32px;
}
.smEditPanel .smEditPanelInputContainer{
    height: 24px;
    width: 51px;
    border: 1px solid #888;
    margin: 5px;
}
.smEditPanel .smEditPanelInputContainer .smEditPanelInput{
    width: 25px;
    height: 18px !important;
    position: relative;
    margin: 2px;
    float: left;
    border: 1px solid;
}
.smEditPanel .smEditPanelInputContainer .smEditPanelInput.activebtn:hover{
    border: 1px inset #aaa;
}
.smEditPanel .smEditPanelInputBtn{
    content: "";
    height: 16px;
    width: 16px;
    position: relative;
    background: url("../images/colorbtn.png") 3px 4px no-repeat;
    float: right;
    right: 2px;
    top: 1px;
    margin: 2px;
}
.smEditPanel .smEditPanelInputBtn.activebtn:hover{
    background-color: #ebeff2;
}
.smEditPanel .smEditPanelInput,.smEditPanel input{
    margin: 5px;
    padding: 0px;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    text-indent: 1px;
}
.smToolSlider.smEditPanelInput{
    top: 4px;
}
.smEditPanel input:not([type="checkbox"]){
    height: 25px;
    border: 1px solid #aaa;
}
input.smPanelValueInput[type="text"]{
    width: 40px;
    margin-left: 7px;
    text-align: center;
    border: 1px solid #dddddd;
}
.smControlTiledVectorLayerEditor .smAdvanceTable{
    display: none;
}
.smControlTiledVectorLayerEditor .smAdvanceTable tr{
    overflow: hidden;
    transition: 20ms height;
}
.smControlTiledVectorLayerEditor .smSecondTd{
    text-align: right;
}
.smRegularTable .smSecondTd{
    width: 104px;
}
.smAdvanceTable .smSecondTd{
    width: 136px;
}
.smControlTiledVectorLayerEditor .smSplitLine{
    border-top: 2px solid #CFCFCA;
    text-align: right;
    padding-top: 15px;
    margin-top: 15px;
    color: #eee;
}
.smSplitLineBottom{
    margin-bottom: 18px;
}
.smSplitLine a{
    background-color: #1abc9c;
    padding: 8px;
    color: #eee;
    text-decoration: blink;
    right: 0px;
}
.smSplitLine a:hover{
    background-color: #2fe2bf;
}
.smControlTiledVectorLayerEditor .smSplitLineTop.hide{
    display: none;
}

/**
* SuperMap.Tool.Slider
*/
.smToolSlider{
    height: 6px;
    position: relative;
    display: inline-block;
    background: url("../images/sliderbackground.png") -7px -3px;
}
.smToolSlider .smToolCompleteBar{
    content: " ";
    height: 0px;
    margin-top: 1px;
}
.smToolSlider .smToolSliderBar{
    content: " ";
    height: 16px;
    position: absolute;
    top: -6px;
    background: url("../images/sliderbtn.png");
    cursor: url("../images/cursors/Pan.cur"), default;
    opacity: 0.7;
}
.smToolSlider .smToolSliderBar.down{
    cursor: url("../images/cursors/PanDown.cur"), default;
    opacity: 1;
}